*{
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    padding: 0 15px;
    height: 60px;
}

#hover-gif{
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
}

.center{
    text-align: center;
    position: relative;
}

.right{
    text-align: right;
}

.user-search-list {
    position: absolute;
    top: 3rem;
    left: 0;
    background-color: var(--background-color);
    max-height: 350px;
    overflow-y: auto;
}

.search-user-result {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 5px;
    min-width: 15rem;
}

.emoji-picker {
    display: none;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

#emoji-picker-btn {
    font-size: 18px;
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
    padding: 10px;
    border: none;
}

#emoji-picker-btn:hover{
    background-color: #0056b3;
}

.search-input{
    min-width: 15rem;
    padding: 8px 10px;
    font-size: 1rem;
    border: none;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
}
.search-input:focus {
    background-image: none;
}

.right>img{
    width: 40px;
    height: 40px;
    border-radius: 50px;
    padding: 10px;
    margin-top: 5px;
}

.right>img:hover{
    cursor: pointer;
}

.chat-page-container{
    display: flex; 
    height: calc(100vh - 60px);
}

#nochat-page {
    display: none; 
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
}

.chat-profiles {
    display: flex;
    flex-basis: 25vw;
    height: 100%;
    flex-direction: column;
    gap: 1px;
    background-color: #040D21;
    border-right: 1px black solid;
    overflow-y: auto;
    position: relative;
}

.chat-tab-selector {
    display: flex;
    gap: 5px;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #181818;
    padding: 4px 7px;
}

.chat-tab {
    background-color: #ffffff;
    border-radius: 9px;
    padding: 2px;
    cursor: pointer;
}

.chat-tab-active {
    background-color: #323232;
}

#chats-tab {
    flex: 1;
}

#groups-tab {
    flex: 1;
}

#add-grp-btn {
    padding: 5px;
}

.chat-profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 12px;
    background-color: #333333;
    margin: 7px;
    cursor: pointer;
}

.chat-profile:hover {
    background-color: #2d2d2d;
}

.chat-profile > p {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
}

#nochats-container {
    flex-basis: 75vw;
    height: calc(100vh - 60px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(22 22 22);
}


#nochats-container > p{
    color: #ffffff;
}

#chats-container {
    flex-basis: 75vw;
    height: calc(100vh - 60px);
    height: 100%;
    display: none;
    flex-direction: column;
    background-color: #7a00ff;
}

.Header{
    display: flex;
    align-items: center;
    background-color: #3A86FF;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 2px solid black;
}

.Profile{
    display: flex;
    align-items: center;
    gap: 10px;
}

.Profile>p{
    color: #CADCFC;
    font-weight: 500;
    font-size: large;
}

.proFile{
    background-color: currentColor;
    border-radius: 35px;
}

.Profile>img:hover{
    cursor: pointer;
}

.Add{
    display: flex;
    justify-content: right;
}

.chat-box{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    background-color: #2C2C54;
}

.message-sent {
    display: flex;
    margin: 10px;
    margin-left: auto;
    max-width: 75%;
    background-color: #F8D210;
    padding: 8px;
    border-radius: 12px;
}

.message-receive {
    display: flex;
    margin: 10px;
    margin-right: auto;
    max-width: 75%;
    background-color: #F8D210;
    padding: 8px;
    border-radius: 12px;
}

.btn-friend{
    background-color: #FA26A0;
    padding: 10px 25px 13px;
    border-radius: 11px;
}

.text-message{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    width: 75vw;
    gap: 10px;
    margin: 10px 10px;
    background-color: #7a00ff;
}

.input-field{
    flex: 1;
    padding: 10px;
    font-size: 16px;
    width: 500px;
    background-color: #1F1F38;
    color: #ffffff;
}

.submit-button{
    position: relative;
    overflow: hidden;
    font-size: 17px;
    padding: 9px 31px;
    border-radius: 15px;
    color: #ffffff;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 40px;
}

.text{
    position: absolute;
    opacity: 1;
    transition: opacity 0.3s ease-in-out;
}

.submit-button:hover{
    background-color: #0056b3;
    transition: 0.5s;
}

.plane{
    position: absolute;
    left:-30px;
    opacity: 0;
    transition: transform 0.9s ease-out, opacity 0.3s ease-in-out;
}

.sending .plane{
    transform: translateX(230px);
    opacity: 1;
}

.sending .text{
    opacity: 0;
}

.group-chat {
    display: flex;
    flex-direction: column;
}

.sender-name {
    font-size: 12px;
}

.create-group-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8px;
}

.create-group-body input {
    width: 100%;
}

.create-group-user-search {
    display: flex;
    gap: 8px;
}

.create-group-results {
    display: flex;
    flex-direction: column;
    max-height: 275px;
    overflow-y: auto;
    gap: 5px;
}

.create-group-result {
    display: flex;
    align-items: center;
    font-size: 18px;
    padding: 5px;
    background-color: var(--card-background);
    border-radius: 9px;
    gap: 5px;
    cursor: pointer;
}

.searchBtn{
    border-radius: 10px;
}